<section id="feature" class="section-p1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac justo a ex bibendum interdum. Donec eleifend bibendum ultricies.</p>
        <p>Integer a facilisis arcu. Praesent nec dapibus arcu. Fusce suscipit nunc nec nisl posuere, id feugiat urna hendrerit.</p>
      </div>
      <div class="col-lg-6">
        <img src="img/about-us.jpg" alt="About Us Image">
      </div>
    </div>
  </div>
</section>
